@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');
@import 'react-slideshow-image/dist/styles.css';
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Train+One&display=swap');
.mainContainer {
  padding: 50px;
  background-color: aliceblue;
  height: 100vh;
}

.each-fade {
  /* display: flex; */
  width: 100%;
}

.each-fade > div {
  width: 100%;
}

.each-fade > div img {
  width: auto;
  height: 150px;
  object-fit: cover;
  /* box-shadow: inset 2px 1px 20px 0px #7753a359; */
}
.img_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.each-fade p {
  display: none;
  font-size: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
button.nav.default-nav {
  display: none !important;
}
.registrationContainer {
  height: 100vh;
  padding: 0px 120px;
}
@media (max-width: 1024px) {
  .registrationContainer {
    height: auto;
    padding: 70px 100px;
  }
}
@media (max-width: 767px) {
  .registrationContainer {
    height: auto;
    padding: 30px 30px;
  }
  .reg_right_container {
    display: none;
  }
}

.react-swipeable-view-container {
  height: 10%;
}

.InnerContainer {
  position: relative;
  background-color: white;

  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  padding: 20px;
  border-radius: 15px;
}

.bannerContainer::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #000000b3;
  border-radius: 5px;
}
.content {
  position: relative;
  width: 100%;
}
.stepContent {
  position: relative;
  font-family: 'Maven Pro', sans-serif !important;
  text-align: left;
  color: white;
  padding: 0px 50px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.stepContent div {
  width: 100%;
}
.stepContent p,
.stepContent h2 {
  font-family: 'Maven Pro', sans-serif !important;
  margin-bottom: 5px;
  padding-bottom: 0px !important;
}
.stepContent h2 {
  margin-bottom: 30px;
}
.stepContent button {
  border: 0px !important;
  text-align: left;
  border-radius: 0px;
}
.stepContent button span {
  font-size: 13px;
}
.optionBtn {
  color: white !important;
  background-color: rgba(97, 54, 146, 0.911) !important;
  padding: 10px !important;
  border-radius: 0px;
  border: 0px;
  margin: 0px !important;
  transition: all 0.5s;
}
.optionBtn:hover {
  background-color: #f50057 !important;
}
.optionBtn span {
  transition: all 0.3s;
}
.optionBtn:hover.optionBtn span {
  margin-left: 10px !important;
}
.optionBtn:hover.optionBtn::before {
  content: '';
  height: 100%;
  width: 5px;
  background: #dcec65;
  position: absolute;
  left: -5;
}
.optionBtn:focus.optionBtn::before {
  content: ' ';
  height: 100%;
  width: 5px;
  background: #dcec65;
  position: absolute;
  left: 0;
}
.selectedBtn::before {
  content: ' ';
  height: 100%;
  width: 5px;
  background: #dcec65;
  position: absolute;
  left: 0;
}
.optionBtn::before {
  content: ' ';
  height: 100%;
  width: 0px;
  background: #dcec65;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}
.optionBtn:focus {
  background-color: #f50057 !important;
}
.selectedBtn {
  border: 0px !important;
  color: white !important;
  border-radius: 0px !important;
  padding: 10px !important;
  background-color: #f50057 !important;

  margin: 0px;
}
.selectedBtn span {
  margin-left: 10px !important;
}
form.inputTextFld {
  width: 100%;
}
.inputContent {
  font-family: 'Maven Pro', sans-serif !important;
  text-align: left;
  color: white;
  padding: 0px 50px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.inputContent_phn {
  font-family: 'Maven Pro', sans-serif !important;
  text-align: left;
  color: white;
  padding: 0px 50px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.inputContent div,
.inputContent form,
.next_prev_btn {
  width: 100%;
}
.otherTextFld label {
  color: white !important;
}
.otherTextFld input {
  color: white !important;
  background-color: #80808000;
  background-color: #f50057 !important;
  border-radius: 0px;
}
.otherTextFld input:focus {
  border: 1px solid white;
  outline: none !important;
  background-color: #f50057 !important;
  border-radius: 0px;
}
.inputTextFld input:focus {
  outline: none !important;
  border-color: #ffffff00;
  border-bottom: 1px solid white;
}
.inputTextFld input,
.PhnInputTextFld {
  color: white !important;
  width: 80%;
  background-color: #80808000;
  outline: none;
  border-color: #ffffff00;
  border-bottom: 1px solid white;
  border-radius: 0px;
}
.inputTextFld select {
  color: white !important;
  width: 80%;
  background-color: transparent;
  outline: none;
  border-color: #ffffff00;
  border-bottom: 1px solid white;
}
.inputTextFld option {
  color: white;
  width: 100%;
  background-color: grey;
  outline: none;
  border-color: #ffffff00;
  border-bottom: 1px solid white;
}
.registrationStepper .MuiMobileStepper-dot {
  width: 10px !important;
  height: 10px !important;
  background-color: rgb(255, 255, 255) !important;
}

.registrationStepper .MuiMobileStepper-dotActive {
  background-color: rgb(107, 221, 212) !important;
  width: 10px !important;
  height: 10px !important;
}
.introPicture img {
  height: 550px;
}
.backBtn {
  color: white;
  position: relative;
  top: 0;
  left: 0;
}

/*welcome CSS*/
.main span {
  margin: 0 15px;
  line-height: 0.7;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  animation: span 3s ease-in infinite alternate;
}
.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media (max-width: 30px) {
    transform: scale(0.65);
  }
}
.letter {
  display: inline-flex;
  height: 30px;
  width: 27px;
  border: 2.35px solid white;
  border-radius: 14px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75), inset 0 0 2px rgba(0, 0, 0, 0.45);
  animation: letter 1s ease-in-out infinite alternate;
}
@keyframes span {
  0%,
  30% {
    margin: 0 15px;
  }
  70%,
  100% {
    margin: 0 5px;
  }
}
@keyframes letter {
  0%,
  30% {
    width: 27px;
  }
  70%,
  100% {
    width: 100vw;
  }
}

/*button CSS*/
:root {
  --text-color: white;
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --btn-color: #7f8ff459;
  --bg-color: #141218;
}
.continueBtn button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Source Code Pro';
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
}
.continueBtn button:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}
.right::after,
.continueBtn button::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events: none;
}
.continueBtn button::after {
  font-weight: 200;
  top: -30px;
  left: -20px;
}
.right,
.left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.right {
  left: 66%;
}
.left {
  right: 66%;
}
.right::after {
  top: -30px;
  left: calc(-66% - 20px);
  background-color: var(--bg-color);
  color: transparent;
  transition: transform 0.4s ease-out;
  transform: translate(0, -90%) rotate(0deg);
}

/*responsive*/
@media (max-width: 1500px) {
  .introPicture img {
    height: 570px;
  }
}
@media (max-width: 1200px) {
  .introPicture img {
    height: 630px;
  }
}
@media (max-width: 767px) {
  .mainContainer {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .mainContainer {
    padding: 300px;
  }
  .introPicture {
    display: none;
  }
  .stepContent {
    width: 100%;
  }
  .inputContent {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .mainContainer {
    padding: 30px;
  }
  .InnerContainer {
    padding: 0px;
  }
}

.header-lines {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 35%;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-transform: skew(0deg, -5deg);
  -ms-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
  z-index: 0;
}
.header-line {
  height: 56px;
  background-color: #d088d6;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  box-shadow: 2px 0px 12px 1px #80808063, 0px 1px 12px 1px #4f4f4f30;
}
.header-line._02 {
  background-color: #7f90af;
}
.header-line._03 {
  background-color: #87639c;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}
.header-line._04 {
  background-color: #676d97;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}
.header-line._05 {
  background-color: #a8b9d8;
}
.header-line-divider {
  height: 56px;
}

#w-node-eb208e18-ea8c-8681-2ec0-c2040ec07ff6-e1b03f7e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 11;
  grid-column-start: span 11;
  -ms-grid-column-span: 11;
  grid-column-end: span 11;
}

#w-node-eb208e18-ea8c-8681-2ec0-c2040ec07ff7-e1b03f7e,
#w-node-eb208e18-ea8c-8681-2ec0-c2040ec07ffa-e1b03f7e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

#w-node-eb208e18-ea8c-8681-2ec0-c2040ec07ff8-e1b03f7e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-eb208e18-ea8c-8681-2ec0-c2040ec07ff9-e1b03f7e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-eb208e18-ea8c-8681-2ec0-c2040ec07ffb-e1b03f7e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 7;
  grid-column-start: span 7;
  -ms-grid-column-span: 7;
  grid-column-end: span 7;
}

#w-node-eb208e18-ea8c-8681-2ec0-c2040ec07ffc-e1b03f7e,
#w-node-eb208e18-ea8c-8681-2ec0-c2040ec07ffe-e1b03f7e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-eb208e18-ea8c-8681-2ec0-c2040ec07ffd-e1b03f7e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 10;
  grid-column-start: span 10;
  -ms-grid-column-span: 10;
  grid-column-end: span 10;
}

.stepContent input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
